
.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.sidebar {
    flex: 0 0 auto;
    width: 180px;
}

.content {
    font-family: sans-serif;
    margin: 10px;
    flex: 1 0 auto;
}
