

.sidebar {
    display: flex;
    flex-direction: column;

}

.large
{
    margin-top: 5px;
    width: 100%;
    height: 250px;
    background-color: var(--lcars-blue);
}

.small
{
    margin-top: 5px;
    width: 100%;
    height: 2.5em;
    background-color: var(--lcars-blue);
}
